@font-face {
  font-family: 'Crushed';
  src: url(../assets/typo/Crushed.woff2);
}

body{
  background-color: #FAF7F5;
  scroll-behavior: smooth;
}

.zonepadding{
  padding-inline: 8%;
  margin-bottom: 7.5rem;
}

p, label{
  font-family: "montserrat", sans-serif;
  color: #3A5538;
  font-size: 1rem;
}

h1{
  font-family: "Crushed", sans-serif;
  color: #3A5538;
  font-size: 6rem;
  line-height: 0.9em;
}

h2{
  font-family: "montserrat", sans-serif;
  color: #3A5538;
}

h3{
  font-family: "Crushed", sans-serif;
  color: #3A5538;
  font-size: 2.25rem;
}

.btn{
  border-radius: 30px;
  padding: 12px 20px;
  min-height: 2.75rem;
  height: fit-content;
  text-align: center;
}

.cta{
  font-size: 1rem;
  color: #FAF7F5;
  text-decoration: none;
  background-color: #537550;
  font-family: "montserrat", sans-serif;
}

.cta:hover{
  background-color: #3A5538;
  transition-duration: 300ms;
}

.ctb{
  font-size: 1rem;
  color: #537550;
  text-decoration: none;
  border: solid #537550 0.1rem;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
}

.ctb:hover{
  color: #3A5538;
  border: solid #3A5538 0.1rem;
  transition-duration: 300ms;
}

.link{
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #3A5538;
  text-decoration: underline transparent;
  transition: .3s;
  font-weight: 400;
}

.link:hover{
  text-decoration: underline #3A5538;
  transition: .3s;
}

.opacity{
  backdrop-filter: blur(10px);
  background-color: #faf7f58e;
}

/* BARRE DE NAVIGATION */

.navbar{
  display: flex;

  position: fixed;
  width: 100%;
  top:0%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid #3A5538;

  z-index: 100;
}

.navbar-logo{
  display: flex;
}

.navlogo{
  width: 115px;
}

.navbar-links{
  display: flex;
  align-items: center;
}

.navbtn{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.navcta{
  margin-left: 1rem;
  align-items: center;
  display: inline-flex;
  gap: 0.5rem;
}

.hero{
  background-image: url('../assets/img/AdobeStock_218537527.jpeg');
  background-size: cover;
  background-position: center;
  height: 54em;
}

.zoneslide-word{
  display: flex;
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(90deg, rgba(250, 247, 245, 0) 0%, rgba(250, 247, 245, 1) 6%, rgba(250, 247, 245, 1) 94%, rgba(250, 247, 245, 0) 100%);
  border-block: 1px solid #3A5538;
}

.slideword{
  display: flex;
  width: 100%;
  gap: 6rem;
  padding-block: 1.5rem;
}

.slideword h3{
  white-space: nowrap;
}

/* PRÉSENTATION */

.zonepresentation{
  display: flex;
  gap: 5rem;
  align-items: end;
  justify-content: center;
}

.pres-colonne1 p{
  padding-block: 1rem;
}

.pres-links{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.pres-colonne2 p{
  font-weight: 500;
}

.serv{
  display: flex;
  background-color: #EFEBE9;
  margin-top: 1rem;
  align-items: center;
  text-align: left;
}

.serv p{
  font-weight: 400;
  padding-left: 1rem;
}


/* RÔLES */

.zoneroles{
  margin-bottom: 7.5rem;
}

.background1{
  background-image: url('../assets/img/AdobeStock_218537527.jpeg');
  background-size: cover;
}
.listerole{
  padding-inline: 8%;
  transition: 0.3s;
  height: 10rem;
  display: flex;
  align-items: center;
}

.background1:nth-child(even) .listerole{
  justify-content: flex-end;
}

.listerole:hover{
  backdrop-filter: blur(0px);
  background-color: #faf7f500;
}

.listerole:hover .role1{
  backdrop-filter: blur(10px);
  background-color: #faf7f58e;
  transition-duration: 300ms;
}

.role2{
  justify-content: end;
}


/* FORMULAIRE */

.zonecontact{
  background-color: #ffffff;
  border-radius: 30px;
  padding: 2rem;
  width: fit-content;
  margin: auto;
  margin-bottom: 7.5rem;
}

.titrecontact{
  text-align: center;
  padding-bottom: 2rem;
}

.contactform{
  display: grid;
  justify-items: center;
}

.idform{
  display: flex;
  gap: 1rem;
}

.from{
  text-align: left;
  margin-bottom: 1rem;

  border: solid #537550 0.1rem;
  transition: 0.3s;
  font-family: "montserrat", sans-serif;
  font-size: 1rem;

  width: 100%;
}

.from:hover{
  border: solid #3A5538 0.1rem;
  transition: 0.3s;
}

.from:focus {
  border: solid #3A5538 0.1rem;
  background-color:#FAF7F5;
  outline: none;
  color: #3A5538;
}

.message{
  max-width: 32.5rem;
  max-height: 20rem;
}

.checkbox {
  border-radius: 50%;
}

.RGPDbox{
  color: #3A5538;
  margin-bottom: 1rem;     
}

.RGPD{
  font-size: 1rem;
  color: #3A5538;
}

.contactcta{
  width: fit-content;
}

.contactcta:hover{
  background-color: #3A5538;
  transition-duration: 300ms;
}

/* FOOTER */

.footer{
  display: flex;
  justify-content: space-between;
  margin-inline: 8%;

  padding-block: 2rem;
  border-top: 0.1rem solid #3A5538 ;
  align-items: center;
  gap: 2rem;
}

.footer-nav{
  display: grid;
  text-align: end;
  gap: 0.5rem;
}

@media screen and (max-width : 700px){
  .zonepresentation{
    flex-wrap: wrap;
  }

  .idform{
    display: flex;
    gap: 0rem;
    flex-wrap: wrap;
  }
}

/* PAGE PROJETS */

.zoneprojets{
  padding-top: 14rem;
}

.h1projet{
  padding-bottom: 2.5rem;
}

.tri{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  padding-bottom: 2.5rem;
}

.btntri:visited{
  background-color: #537550;
  color: #FAF7F5;
}

.projetslist{
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.projet{
  background-image: url('/assets/img/AdobeStock_218537527.jpeg');
  background-size: cover;
  border-radius: 20px;
}

.backgroundgradient{
  width: 15rem;
  height: 21rem;
  background: linear-gradient(180deg, rgba(58,85,56,0) 70%, rgba(58,85,56,1) 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  border-radius: 20px;
  transition: 3s;
}

.backgroundgradient:hover{
  background: linear-gradient(180deg, rgba(58,85,56,0) 40%, rgba(58,85,56,1) 95%);
  transition: 3s;
}

.projettext{
  padding-bottom: 2rem;
}

.titreprojet{
  color: #FAF7F5;
  padding-bottom: 1rem;
}

.btnprojet{
  border: 1px solid #FAF7F5;
  color: #FAF7F5;
  font-family: "montserrat", sans-serif;
  display: none;
}

.backgroundgradient:hover .btnprojet{
  display: block;
}